#services {
    display: flex;              
    gap: 20px;                   
    justify-content: space-between; 
    padding: 15px;
}

.service-card {
    margin-top: 25px;
    padding: 10px;
    align-items: center;
    background: linear-gradient(135deg, var(--primary), var(--hero-end));
    color: var(--text-dark);
    font-size: 1.2rem;
    border-radius: 20px;
}

.service-card p, .service-card h3 {
    font-size: 1.2rem;
    color: var(--text);

}

.service-card img {
    width: 100%;
    height: 14rem;
    border-radius: 15px;
}